@font-face {
    font-family: bestigia;
    src: url(Bestigia-Regular.ttf);
}

@font-face{
    font-family: maganete;
    src: url(Meganté-Personal-Use.ttf);
}

*{
    margin: 0;
    padding: 0;
    color: aliceblue;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.7)),url(room.jpg);
    background-size: cover;
    background-position: center;
}
.main{
    padding: 0 100px;
}
.navigation{
    height: 75px;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navi{
    width: 100%;
    display: flex;
    
    align-items: center;
    gap: 50px;
}
.nav1{
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav1 h1{
    font-family: bestigia;
    font-size: 30px;
   
}
.link{
    width: 35%;
    display: flex;
    justify-content: space-between;

}


.box{
    height: calc(100vh - 75px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 500px;
}
.box1{  
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-between;
    gap: 30px;
}
.box1 p{
    width: 80%;
}
.box1 button{
    padding: 10px 24px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
}
.box1h h1{
    font-family: maganete;
    font-size: 40px;
    line-height: 45px;
}
